<%- include('partials/header') %>
<div class="container">
    <div class="row">
        <div class="col-md-8" style="margin: 10vh auto;">
            <form  action="/register" method="POST" style="margin: 0 auto; width: 60%;">
                <h1 class="h3 mb-3 font-weight-normal text-center">Please Sign Up !</h1>
                <div class="form-group">
                    <input type="text" id="inputEmail" class="form-control" placeholder="Username" name="username" required autofocus>
                </div>
                <div class="form-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
                </div>
                    <a href="/login">Already have an account? Login</a>
              </form>
        </div>
    </div>  
</div>



<%- include('partials/footer') %>